{% extends 'base.html.twig' %}
{% block title %}Officina{% endblock %}
{% block body %}
   <div class="row">
       <div class="col-10 offset-1">
         Welcome
       </div>
   </div>
{% endblock %}
